@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff7f9;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}
.logo {
    font-weight: 700;
    color: #e84a78;
    font-size: 30px;
    font-family: "Happy Monkey", system-ui;
}
.logo img{
    width: 45px;
}
.header nav a{
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #353434;
    border-bottom: 2px solid transparent;
}
.header nav a:hover{
    color: #e84a78;
    border-bottom: 2px solid #e84a78;
}
.header nav .active{
    color: #e84a78;
}
.btn{
    background-color: #e84a78;
    border: none;
    padding: 10px 22px;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn:hover , .btn-outline:hover{
    box-shadow: 0 0 15px #e84a78 , 0 0 15px #e84a78;
}
.btn-outline{
    border: 2px solid #e84a78;
    background: transparent;
    color: #e84a78;
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    align-items: center;
}
.hero h1{
    font-size: 64px;
    font-family: "Happy Monkey", system-ui;
    line-height: 1.1;
    color: #353434;
}
.hero p{
    margin: 20px 0;
    max-width: 420px;
    letter-spacing: .5px;
    font-size: 18px;
    color: #333333;
    text-align: left;
}
.hero-img img{
    width: 380px;
}
.services{
    margin: 80px 100px;
    align-items: center;
    color: #353434;
}
.service-heading ,h2 , h4, p{
    margin: 25px 0;
    text-align: center;
}
.services .section-label{
   color: #e84a78;
   font-weight: 600;
   margin-bottom: 15px;
   font-family: "Happy Monkey", system-ui;
}
.service-grid {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-top: 20px;
}
.service-grid .service-card{
    background-color: #fff;
    box-shadow: 0 0 5px #3534348f;
    padding: 35px;
    text-align: center;
    border-radius: 20px;
}
.service-card:hover{
    box-shadow: 0 0 15px #e84a78;
}

.service-grid .service-card a, i{
    text-decoration: none;
    color: #e84a78;
    margin-bottom: 10px;
}
.service-grid .service-card-highlight{
    background-color: #e84a78;
    box-shadow: 0 0 5px #353434;
    padding: 35px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
}
.service-card-highlight:hover{
    box-shadow: 0 0 15px #e84a78;
}
.service-card-highlight #white-badge, a{
    color: #fff;
    text-decoration: none;
}
.about .about-container, .offer .offer-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.about-container .about-img img, .offer-container .offer-img img{
    height: 480px;
    width: 480px;
    margin: 0 15px 0 15px;
    border-radius: 20%;
}
.about-container .about-content, .offer-container .offer-content{
    padding: 0 50px;
}
.about-content h1, .offer-content h1, .item-content h1, .item-card h2, .review-content h1{
    color: #353434;
}
.pink{
    color: #e84a78;
    font-family: "Happy Monkey", system-ui;
    text-align: left;
    font-weight: 600;
}
.about-content .ab-p, .offer-content .of-p{
    text-align: left;
    width: 90%;
    color: #353434;
}
.of-p span{
    color: #e84a78;
    font-weight: bold;
}
.offer-content .prices{
    text-align: left;
    color: gray;
    font-size: 16px;
}
.price{
    color: #e84a78;
    font-weight: bolder;
    font-size: 20px;
}
.offer-content{
    margin-top: 80px;
} 

 .items .item-container{
    margin: 50px 120px;
}
.item-content .pink, .review .pink{
    text-align: center;
}
.item-content h1, .review-content h1{
    text-align: center;
}
.item-content #it-p, .review-content .re-p{
    text-align: center;
    font-weight: 540;
    color: rgb(92, 89, 89);
}
.item-container .item-grid{
    margin-top: 50px;
    /* border: 1px solid red; */
    display: flex; 
    justify-content: space-between;
}
.item-card{
    /* border: 1.5px solid #f2b6c6;   */
    border-radius: 12px;         
    padding: 20px;
    margin-right: 15px;
    background: #fff;
    box-shadow: 0 0 2px #e84a78;
    transition: 0.3s ease;
}
.item-card:hover{
    transform: translateY(5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}
.item-card p{
    color: gray;
}
.item-img{
    display: flex;
    justify-content: center; 
    align-items: center;     
}
.item-img img{
    width: 70px; 
    height: auto;
    border-radius: 60%;
}
.icon{
    margin-top: 15px;
}
.icon #love{
   margin-right: 5px;
}
.icon button i{
    color: #fff;
    margin-right: 5px;
}
.icon .btn{
    padding: 10px 22px 0px ;
}
.review .review-img img{
    width: 100%;
}
footer{
    background-image: url(./images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent ;
    
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
    background-color: #3534347c;
    padding: 22px;
    color: white;
}
.footer-logo{
    margin-right: 5px;
    color: #fff;
}
.footer .footer-logo h1{
    color: #e84a78;
    font-family: "Happy Monkey", system-ui;
    font-size: 20px;
}
.footer-logo img{
    height: 30px;
    width: 30px;
}
.footer i, .copy{
    color: #fff;
}
.explore h2{
    text-align: left;
}
.explore ul li{
    list-style: none;
    margin-top: 9px;
}
#hide{
    display: none !important;
}
@media screen and (max-width:576px) {
    .header{
        padding: 10px 10px;
    }
    .logo{
        font-size: 15px;
    }
    .logo img{
        width: 20px;
    }

    .header nav a{
        margin: 0 5px;
        font-size: 6px;
    }
    .auth{
        display: flex;
        gap: 5px;
    }
    .btn{
        padding: 5px 8px;
        font-size: 10px;
    }
    .btn-outline{
        padding: 5px 8px;
        font-size: 6px;
    }
}